<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
       
		<div class="container" style="height: 700px;">
		
		<div class="row" style="border: solid #CD7070 3px; height:100%;">
			
			<div class="col-3" style="border-right: solid #CD7070 3px; padding: 0px;">
				
				<div class="row">
					<h4 th:text="${loginId}" style="border-bottom: solid #CD7070 3px; margin-top: 30px; margin-bottom: 15px; padding-bottom: 30px; text-align: center; font-weight: bold;">내 아이디</h4>
				</div>
				
				<div class="row" style="height: 100%; overflow: hidden auto;">
					<ul th:each="room : ${list}" style="list-style: none; padding-left:0px;">
						<li>
							<div style="border-bottom: solid 2px lightgray; padding-bottom: 15px">
							
								<div class="col-3" style="text-align: center; padding-top: 10px; float: left;">
									<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
									</svg>
								</div>
								
								<div class="col">
								<th:block data-th-if="${#strings.equals(loginId, room.person)}">
									<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
										[[${room.id}]]
										<br/>
										[[${room.lastMessage}]]
									</a>
								</th:block>
								
								<th:block data-th-if="${#strings.equals(loginId, room.id)}">
									<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
										[[${room.person}]]
										<br/>
										[[${room.lastMessage}]]
									</a>
								</th:block>
								</div>
								
							</div>
							
							
						</li>
					</ul>
				</div>
			</div>
			
			<div class="col-9" style="padding:0px; height:100%">
			
				<!-- 상단(아이디표시) -->
				<div class="row" style="border-bottom: solid #CD7070 3px; margin-top: 30px; margin-bottom: 15px; padding-bottom: 21px; padding-right:30px; margin-right:0px; text-align: right; font-weight: bold;">
						<h4 th:if="${room.person.toString().equals(loginId)}" th:text="${room.id}" style="font-weight: bold;">아이디표시</h4>
						<h4 th:unless="${room.person.toString().equals(loginId)}" th:text="${room.person}" style="font-weight: bold;">아이디표시</h4>
				</div>
				
					<!-- 중단(메세지표시) -->
					<div class="row" th:attr="roomNum=${room.roomNum}, roomName=${room.roomName}, userId=${room.id}, loginId=${loginId}" id="msgArea" style="height: 540px; overflow: hidden auto;">
						<th:block data-th-each="chat : ${chatDTO}">
								<div th:if="${chat.id.toString().equals(loginId)}"  class="alert alert-warning" th:text="${chat.message}"></div>
								<div th:unless="${chat.id.toString().equals(loginId)}" class="alert alert-secondary" th:text="${chat.message}"></div>		
						</th:block>
						
					</div>	
					
					<!-- 하단(메세지 작성) -->
					<div class="row">
						<div class="input-group mb-3">
							<input type="text" id="msg" class="form-control">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
							</div>
						</div>
					</div>
				</div>
				
		</div>
		
	</div>
	
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script th:inline="javascript">

 		$(".btn-create").on("click", function(e){
 			e.preventDefault();
 			var person = $("input[name='person']").val();
 				
 			if(person == ""){
 				alert("상대방 아이디를 입력해주세요!.");
 			}else{
 				$("form").submit();
 			}
 			
 		});
 		
 		
 		let roomNum = $("#msgArea").attr("roomNum");
 		let roomName = $("#msgArea").attr("roomName");
 		let id = $("#msgArea").attr("userId");

 		let loginId = $("#msgArea").attr("loginId");

 		console.log(roomNum +" / " + roomName + " / " + id + " / " + loginId);

 			var sockJs = new SockJS("/stomp/chat");
 			//1. SockJS 가 내부에 들고있는 stomp 를 내어줌
 			var stomp = Stomp.over(sockJs);
 			
 			//2. 커넥션이 맺어지면 실행
 			stomp.connect({}, function(e){
 				console.log("STOMP Connection");
 				console.log(e);		
 				//4. subscribe(path, callback) 으로 메세지 받을 수 있음
 				stomp.subscribe("/sub/chat/chatSelect/" + roomNum, function(chat){
 					//console.log("콜백함수를 보자!!:: ",chat);
 					var content = JSON.parse(chat.body);
 					//console.log(content)
 					var writer = content.id;
 					
 					var str = '';
 					
 					if(writer == id){ 
 						//내가 보내는 메세지
 					 	//str = "<div class='col-6'>";
 						str = "<div class='alert alert-warning'>";
 						str += "<b>" + content.message + "</b>";
 						str += "</div>";
 						$("#msgArea").append(str);
 					}else{
 						//상대방이 보내는 메세지
 						//str = "<div class='col-6'>";
 						str = "<div class='alert alert-secondary'>";
 						str += "<b>" + content.message + "</b>";
 						str += "</div>";
 						$("#msgArea").append(str);
 					}
 				
 				});
 				//3. send(path, header, message) 로 메세지를 보낼 수 있음
 				 stomp.send('/pub/chat/enter', {},JSON.stringify({roomNum: roomNum, id: loginId, roomName: roomName}))	
 				});
 			
 			
 				$("#button-send").on("click",function(e){
 					var msg = document.getElementById("msg");
 					
 					console.log(id+ ":" + msg.value);
 					stomp.send('/pub/chat/message', {}, JSON.stringify({roomNum: roomNum, message: msg.value, id: id, roomName: roomName}));
 					msg.value='';
 				});
 		
	
</script>

</html>