<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
       
		<div class="container" style="height: 700px;">

		<div class="row" style="border: solid #CD7070 3px; height:100%;">
			
			<div class="col-3" style="border-right: solid #CD7070 3px;">
				
				<div class="row justify-content-md-center" style="border-bottom: solid #CD7070 3px;">
				
					<div class="col-md-auto">
						<h4 th:text="${loginId}" style="margin-top: 30px; margin-bottom: 0px; padding-bottom: 30px; text-align: center; font-weight: bold;">내 아이디</h4>
					</div>
					
					<div class="col-md-auto align-self-center">
						 <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
			                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
							  <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
							  <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
							</svg>
                			<span class="visually-hidden">Button</span>
              			</button>
					</div>
					
				</div>
				
		
				
				<div style="height: 540px; overflow: hidden auto;">
					<th:block th:each="room : ${list}">
					
							<div style="border-bottom: solid 2px lightgray; padding-bottom: 20px; padding-top: 20px">
							
								<div class="col-3" style="text-align: center; padding-top: 10px; float: left;">
									<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
									  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
									</svg>
								</div>
								
								<div class="col">
								<th:block data-th-if="${#strings.equals(loginId, room.person)}">
									<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
										<b>[[${room.id}]]</b>
										<br/>
										<span class="titleTarget">[[${room.lastMessage}]]</span>
									</a>
								</th:block>
								
								<th:block data-th-if="${#strings.equals(loginId, room.id)}">
									<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
										<b>[[${room.person}]]</b>
										<br/>
										<span class="titleTarget">[[${room.lastMessage}]]</span>
									</a>
								</th:block>
								</div>
								
							</div>
							
							
						</th:block>
				
				</div>
				
			</div>
			
			<div class="col-9" style="height:100%">
			
				<!-- 상단(아이디표시) -->
				<div class="row" style="border-bottom: solid #CD7070 3px; margin-top: 30px; margin-bottom: 15px; padding-bottom: 21px; padding-right:30px; text-align: right; font-weight: bold;">
						<h4 th:if="${room.person.toString().equals(loginId)}" th:text="${room.id}" style="font-weight: bold;">아이디표시</h4>
						<h4 th:unless="${room.person.toString().equals(loginId)}" th:text="${room.person}" style="font-weight: bold;">아이디표시</h4>
				</div>
				
					<!-- 중단(메세지표시) -->
					<div th:attr="roomNum=${room.roomNum}, roomName=${room.roomName}, userId=${room.id}, loginId=${loginId}" id="msgArea" style="height: 540px; overflow: hidden auto;">
						<th:block data-th-each="chat : ${chatDTO}">
						
							<div style="display: block">
								<!-- 내가 보낸거는 오른쪽에 -->
								<div th:if="${chat.id.toString().equals(loginId)}" class="d-flex flex-row-reverse">
									<div class="alert alert-warning" th:text="${chat.message}"></div>
									<div style="font-size:small; padding-top: 40px; margin-right: 5px;" th:text="${chat.dates}"></div>
								</div>
								<!-- 남이 보낸거는 왼쪽에 -->
								<div th:unless="${chat.id.toString().equals(loginId)}" class="d-flex flex-row">
									<div class="alert alert-secondary" th:text="${chat.message}"></div>
									<div style="font-size:small; padding-top: 40px; margin-left: 5px;" th:text="${chat.dates}"></div>
								</div>
							</div>
							
						</th:block>
						
					</div>	
					
					<!-- 하단(메세지 작성) -->
					<div class="row">
						<div class="input-group mb-3">
							<input type="text" id="msg" class="form-control rounded-0">
							<div class="input-group-append">
								<button class="ms-1 btn btn-danger rounded-0" type="button" id="button-send">전송</button>
							</div>
						</div>
					</div>
				</div>
				
		</div>
		
		
		 <!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">새로운 메시지</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			       	<form th:action="@{/chat/room}" method="post">
						상대방ID<input type="text" name="person" class="form-control"  style="margin-bottom: 10px;"/>
						<button class="btn btn-secondary btn-create" style="float: right;">다음</button>
					</form>
			    </div>
			  </div>
			</div>
		 
		
	</div>
	
</div>

</div>

</div>

</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script th:inline="javascript">

		
		//채팅방 생성
 		$(".btn-create").on("click", function(e){
 			e.preventDefault();
 			var person = $("input[name='person']").val();
 				
 			if(person == ""){
 				alert("상대방 아이디를 입력해주세요!.");
 			}else{
 				$("form").submit();
 			}
 		});
 			
 		//보냈을때 스크롤 맨 아래로
		let msgArea = document.getElementById('msgArea');
		msgArea.scrollTop = msgArea.scrollHeight;
 		
 		let roomNum = $("#msgArea").attr("roomNum");
 		let roomName = $("#msgArea").attr("roomName");
 		let id = $("#msgArea").attr("userId");

 		let loginId = $("#msgArea").attr("loginId");

 		console.log(roomNum +" / " + roomName + " / " + id + " / " + loginId);

 			var sockJs = new SockJS("/stomp/chat");
 			//1. SockJS 가 내부에 들고있는 stomp 를 내어줌
 			var stomp = Stomp.over(sockJs);
 			
 			//2. 커넥션이 맺어지면 실행
 			stomp.connect({}, function(e){
 				console.log("STOMP Connection");
 				//console.log(e);		
 				//4. subscribe(path, callback) 으로 메세지 받을 수 있음
 				stomp.subscribe("/sub/chat/chatSelect/" + roomNum, function(chat){
 					//console.log("콜백함수를 보자!!:: ",chat);
 					var content = JSON.parse(chat.body);
 					//console.log(content)
 					var writer = content.id;
 					
 					var str = '';

 					let today = new Date();
 					let hours = today.getHours(); // 시
 					let minutes = today.getMinutes();  // 분
 					let seconds = today.getSeconds();  // 초
 					let currTime = hours + ':' + minutes + ':' + seconds;
 					
 					if(writer == loginId){ 
 						//내가 보내는 메세지
 					 	//str = "<div class='col-6'>";
 					 	str = "<div style='display: block'>";
 					 	str += "<div class='d-flex flex-row-reverse'>";
 						str += "<div class='alert alert-warning'>";
 						str += content.message + "</div>";
 						str += '<div style="font-size:small; padding-top: 40px; margin-right: 5px;">'+currTime+'</div>';
 						str += "</div></div>";
 						$("#msgArea").append(str);
 						
 						//보냈을때 스크롤 맨 아래로
 						let msgArea = document.getElementById('msgArea');
 	 					msgArea.scrollTop = msgArea.scrollHeight;
 					}else{
 						//상대방이 보내는 메세지
 						//str = "<div class='col-6'>";
 						str = "<div style='display: block'>";
 					 	str += "<div class='d-flex flex-row'>";
 						str += "<div class='alert alert-secondary'>";
 						str += content.message + "</div>";
 						str += '<div style="font-size:small; padding-top: 40px; margin-left: 5px;">'+currTime+'</div>';
 						str += "</div></div>";
 						$("#msgArea").append(str);
 						
 						//보냈을때 스크롤 맨 아래로
 						let msgArea = document.getElementById('msgArea');
 	 					msgArea.scrollTop = msgArea.scrollHeight;
 					}
 				
 				});
 				/*  
 				//3. send(path, header, message) 로 메세지를 보낼 수 있음
 				 stomp.send('/pub/chat/enter', {},JSON.stringify({roomNum: roomNum, id: loginId, roomName: roomName}))	
 				*/
 				
 				//유효성 위반시 경고창
 				stomp.subscribe("/sub/chat/errorMsg", function(data){
 					alert(data.body);
 					
 				});
 				
 				
 			});
 			
 				//메시지 전송
 				$("#button-send").on("click",function(e){
 					var msg = document.getElementById("msg");
 					
 					let msgArea = document.getElementById('msgArea');
 					msgArea.scrollTop = msgArea.scrollHeight;
 					
 					console.log(loginId+ ":" + msg.value);
 					stomp.send('/pub/chat/message', {}, JSON.stringify({roomNum: roomNum, message: msg.value, id: loginId, roomName: roomName}));
 					msg.value='';
 				});
 				
 				//엔터키로 전송
 				$("#msg").on('keydown',function(key) {
                if (key.keyCode == 13) {
                	$("#button-send").click(); 					
                }
                
                //모달용
 				var myModal = document.getElementById('myModal')
 		 		var myInput = document.getElementById('myInput')

 		 		myModal.addEventListener('shown.bs.modal', function () {
 		 		  myInput.focus();
 		 		})
 		 		
	 		
            });

 		 		
</script>

</html>