<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
       
		<div class="container" style="height: 90%;">
		<div class="row" style="border: solid #CD7070 3px ; height: 100%;">
			
			<div class="col-3" style="border-right: solid #CD7070 3px;">
				
				<h4 th:text="${loginId}" style="border-bottom: solid #CD7070 3px; margin-top: 30px; margin-bottom: 30px; padding-bottom: 30px; text-align: center; font-weight: bold;">내 아이디</h4>
				<ul th:each="room : ${list}" style="list-style: none; padding-left:0px;">
					<li>
						<div class="row">
							<div class="col-3" style="text-align: center; padding-top: 10px;">
								<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
								  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
								  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</div>
							<div class="col-9">

							<th:block data-th-if="${#strings.equals(loginId, room.person)}">
								<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
									[[${room.id}]]
									<br/>
									[[${room.lastMessage}]]
								</a>
							</th:block>
							
							<th:block data-th-if="${#strings.equals(loginId, room.id)}">
								<a th:href="@{/chat/room(roomNum=${room.roomNum})}">
									[[${room.person}]]
									<br/>
									[[${room.lastMessage}]]
								</a>
							</th:block>
								
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="col-9" style="text-align: center;">
				<div style="display: inline-block; padding-top: 300px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
				  <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
				  <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
				</svg>
				<p style="font-size: xx-large; color: #CD7070">친구에게 메시지를 보내보세요.</p>
				<br/>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				 메시지 보내기
				</button>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">새로운 메시지</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			       	<form th:action="@{/chat/room}" method="post">
						상대방ID:<input type="text" name="person" class="form-control"  style="margin-bottom: 10px;"/>
						<button class="btn btn-secondary btn-create" style="float: right;">다음</button>
					</form>
			    </div>
			  </div>
			</div>
			
			
				
		</div>
		</div>
		
		
	</div>
	</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script th:inline="javascript">

 		//var roomName = [[${roomName}]];
 		var errorMsg = [[${errorMsg}]];
 		
 		/* if(roomName != null){
 			alert(roomName + "방이 개설되었습니다.");
 		} */
 		
 		if(errorMsg != null){
 			alert(errorMsg);
 		}
 		
 		
 		$(".btn-create").on("click", function(e){
 			e.preventDefault();
 			var person = $("input[name='person']").val();
 				
 			if(person == ""){
 				alert("상대방 아이디를 입력해주세요!.");
 			}else{
 				$("form").submit();
 			}
 			
 		});
 		
 		var myModal = document.getElementById('myModal')
 		var myInput = document.getElementById('myInput')

 		myModal.addEventListener('shown.bs.modal', function () {
 		  myInput.focus()
 		})
	
</script>

</html>