<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
		<div class="container">
			<div class="col-6">
				<h1></h1>
			</div>
			<div>
				<div th:attr="roomNum=${room.roomNum}, roomName=${room.roomName}, username=${room.username}" id="msgArea" class="col"></div>
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="text" id="msg" class="form-control">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6"></div>
		</div>
	</body>
	<th:block th:replace="fix/fixFooter.html"></th:block>
<script>
let roomNum = $("#msgArea").attr("roomNum");
let roomName = $("#msgArea").attr("roomName");
let username = $("#msgArea").attr("username");
console.log(roomNum +" / " + roomName + " / " + username);

$(document).ready(function(){

	var sockJs = new SockJS("/stomp/chat");
	//1. SockJS 가 내부에 들고있는 stomp 를 내어줌
	var stomp = Stomp.over(sockJs);
	
	//2. 커넥션이 맺어지면 실행
	stomp.connect({}, function(e){
		console.log("STOMP Connection");
		console.log(e);		
		//4. subscribe(path, callback) 으로 메세지 받을 수 있음
		stomp.subscribe("/sub/chat/room/" + roomNum, function(chat){
			console.log(chat)
			var content = JSON.parse(chat.body);
			console.log(content)
			var writer = content.username;
			
			var str = '';
			
			if(writer == username){
			 	str = "<div class='col-6'>";
				str += "<div class='alert alert-secondary'>";
				str += "<b>" + content.message + "</b>";
				str += "</div></div>";
				$("#msgArea").append(str);
			}else{
				str = "<div class='col-6'>";
				str += "<div class='alert alert-warning'>";
				str += "<b>" + content.message + "</b>";
				str += "</div></div>";
				$("#msgArea").append(str);
			}
		
		});
		//3. send(path, header, message) 로 메세지를 보낼 수 있음
		 stomp.send('/pub/chat/enter', {},JSON.stringify({roomNum: roomNum, username: username}))	
		});
	
		$("#button-send").on("click",function(e){
			var msg = document.getElementById("msg");
			
			console.log(username+ ":" + msg.value);
			stomp.send('/pub/chat/message', {}, JSON.stringify({roomNum: roomNum, message: msg.value, username: username}));
			msg.value='';
		});
});
</script>



</html>