<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<img src="/img/love.jpg" id="bg" class="img-fluid">
<div class="d-flex justify-content-center container h-100">
    <form method="post" th:action="@{/member/login}" class="w-75 border p-3 bg-white shadow rounded align-self-center">
        <div class="d-inline-flex">
            <img class="img-fluid" src="/img/love-icon.png" style="width: 60px;height: 60px">
            <h1 class="ms-2 fw-bold">Lovegame</h1>
        </div>
        <h4>사랑을 나누고, 시작하세요</h4>
        <div class="mb-3">
            <label for="id" class="form-label">아이디</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력해주세요">
        </div>
        <div class="mb-3">
            <label for="pw" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호를 입력해주세요">
        </div>
        <div th:if="${loginSuc}" class="alert alert-danger d-flex align-items-center justify-content-center"
             role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>정보가 틀리거나 없는 아이디입니다</div>
        </div>
        <div>
            <a th:href="@{/kakao/loginForm}">
                <img src="/img/kakao_login2.png" class="img-fluid">
            </a>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-danger rounded-0 me-1">로그인</button>
            <a th:href="@{/member/joinForm}" class="btn btn-danger rounded-0">회원가입</a>
        </div>
    </form>
</div>
</body>
<th:block th:utext="${joinSuc}"></th:block>
<th:block th:replace="fix/fixFooter.html"></th:block>
</html>