<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <th:block th:include="fix/fixMyInfo"></th:block>
        <!-- 여기서 부터 내용 넣으세요 -->
        <div class="container">
            <div class="text-center my-2">
                <a th:href="@{/myInfo/goodList(division='my')}" class="btn btn-danger rounded-0 btn-lg">
                    내가 관심있는 사람</a>
                <a th:href="@{/myInfo/goodList(division='yours')}" class="btn btn-danger rounded-0 btn-lg">
                    나에게 관심있는 사람</a>
            </div>
            <div class="row">
                <div th:each="list:${list}" class="col-lg-3 text-center my-2 mx-2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3"
                             th:src="@{${list.imgPath}}"
                             onerror="src='/img/noImg.png'"
                             style="width: 200px;height: 200px">
                        <h5 th:text="${list.id}"></h5>
                        <p class="mb-0 text-dark">"새로운 기술과 더불어 배포까지 경험할 수 있는 좋은 기회였습니다."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
</html>