<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <th:block th:include="fix/fixMyInfo"></th:block>
        <!-- 여기서 부터 내용 넣으세요 -->
        <div class="d-flex justify-content-center">
            <th:block th:if="${dto ne null}">
                <form th:action="@{/myInfo/proFileInput}" class="w-75 bg-white" method="post"
                      enctype="multipart/form-data">
                    <h3>내 프로필</h3>
                    <div class="text-center mt-1">
                        <img id="proFileImg" th:src="${dto.getImgPath()}" class="rounded-circle border img-fluid"
                             style="width: 500px;height: 500px">
                    </div>
                    <div class="mb-3">
                        <label for="intro" class="form-label">자기소개(1000자이내)</label>
                        <textarea th:text="${dto.getIntro()}" class="form-control" name="intro" id="intro" rows="9"
                                  style="resize: none;" readonly></textarea>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <label class="form-label">관심사</label>
                    <div class="mb-3">
                        <th:block th:if="${dto.getHobby().length()>1}"
                                  th:each="hobby :${#strings.arraySplit(dto.getHobby,',')}">
                            <div class="btn btn-danger rounded-0" th:text="${hobby}" style="cursor: default"></div>
                        </th:block>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-danger rounded-0">프로필 수정</button>
                    </div>
                </form>
            </th:block>
            <div class="text-muted text-center" th:if="${dto eq null}">
                프로필을 등록해주세요!
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script>
    $(".hobbyPickBtn").addClass('btn btn-outline-danger rounded-0 my-1');
</script>
</html>