<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 여기서 부터 내용 넣으세요 -->
        <div class="d-flex justify-content-center">
            <div class="w-50 bg-white">
                <h2 class="text-center">프로필</h2>
                <hr/>
                <div class="text-center mt-1">
                    <th:block th:if="${dto ne null}">
                        <img th:src="${dto.imgPath}"
                             onerror="src='/img/noImg.png'"
                             class="rounded-circle border img-fluid proFileImg"
                             style="width: 400px;height: 400px">
                    </th:block>
                    <th:block th:if="${dto eq null}">
                        <img th:src="@{/img/noImg.png}"
                             onerror="src='/img/noImg.png'"
                             class="rounded-circle border img-fluid proFileImg"
                             style="width: 400px;height: 400px">
                    </th:block>
                </div>
                <th:block th:if="${dto ne null}">
                    <h4 th:text="${dto.name} +'('+${dto.age} + ')'" th:if="${dto ne null}" class="text-center mt-2">
                        박한솔(26)
                    </h4>
                    <hr/>
                    <div class="mb-3 text-center mt-2" th:if="${dto ne null}">
                        <h3>자기소개</h3>
                        <p th:text="${dto.intro}"></p>
                    </div>
                    <th:block th:if="${dto ne null}">
                        <div class="mb-3 text-center mt-2">
                            <div th:if="${dto.hobby ne null}">
                                <h3>관심사</h3>
                            </div>
                            <th:block th:each="hobby : ${#strings.arraySplit(dto.hobby,',')}">
                                <button class="btn btn-danger rounded-0 my-1" th:text="${hobby}" disabled></button>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <div class="mb-3 text-center mt-2">
                    <h3>일상, 기록</h3>
                    <div class="card mb-3 h-50 mt-2">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/noImg.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 h-50 mt-2">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/noImg.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 h-50 mt-2">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/noImg.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:if="${dto eq null}">
                    <p class="text-center text-muted mt-2">프로필이 등록되지 않았습니다</p>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
</html>