<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<!-- 
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
 -->
	<th:block th:fragment="content">
		
		<div class="container">
			<div class="col-6">
				<label><b>채팅방</b></label>
			</div>
			<div>
				<div id="msgArea" class="col"></div>
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</th:block>

<script th:inline="javascript">
//<![CDATA[
	
	$(document).ready(function(){
	
			const username = /*[[${loginId}]]*/ 'default';
			console.log("아이디는??: "+username);
			
			$("#disconn").on("click",(e) => {
				disconnect();
			})
			
			$("#button-send").on("click",(e) => {
				send();
			})
			
			const websocket = new WebSocket("ws://localhost:8100/ws/chat");
			
			websocket.onmessage = onMessage;
			websocket.onopen = onOpen;
			websocket.onclose = onClose;

			function send(){
				let msg = document.getElementById("msg");
				console.log(username + ":" + msg.value);
				websocket.send(username + ":" + msg.value);
				msg.value = '';
			}			
			
			function onClose(evt){
				var str = username + " : 님이 방을 나가셨습니다.";
				websocket.send(str);
			}
			
			function onOpen(evt){
				var str = username + " : 님이 입장하셨습니다.";
				websocket.send(str);
			}
			
			function onMessage(msg){
				var data = msg.data;
				var sessionId = null;
				//데이터를 보낸 사람
				var message = null;
				console.log("data의 형태는?? :: "+ data);
				var arr = data.split(":");
				
				for(var i=0; i<arr.length; i++){
					console.log('arr[' + i + ']: ' + arr[i]);
				}
				
				var cur_session = username
				
				//현재 세션에 로그인 한 사람
				console.log("cur_session : " + cur_session);
				sessionId = arr[0];
				message = arr[1];
				
				console.log("sessionID : " + sessionId);
				console.log("cur_session : " + cur_session);
				
				//로그인 한 클라와 상대방 구분
				if(sessionId == cur_session){
					var str = "<div class='col-6'>";
					str += "<div class='alert alert-secondary'>";
					str += "<b>" + sessionId + " : " + message + "</b>";
					str += "</div></div>";
					$("#msgArea").append(str);
				}else{
					var str = "<div class='col-6'>";
					str += "<div class='alert alert-warning'>";
					str += "<b>" + sessionId + " : " + message + "</b>";
					str += "</div></div>";
					$("#msgArea").append(str);
				}
			}
			
			
			
	})
	
//]]>
</script>



</html>