<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
        <div class="container d-flex justify-content-evenly" style="margin-top: 50px">
            <div class="d-flex align-items-center">
                <a href="/" class="fs-1">&laquo;</a>
            </div>
            <div class="mt-2 text-center">
                <img src="/img/noImg.png" class="img-fluid rounded-circle" style="width: 400px;height: 400px">
                <h3 class="mt-2">아이디</h3>
                <h3 class="mt-2">이름(나이)</h3>
                <p>안녕하세요</p>
                <div>
                    <a class="mt-1 btn btn-outline-danger rounded-0">
                        <i class="bi bi-file-person me-1"></i>프로필
                    </a>
                    <a class="mt-1 btn btn-outline-danger rounded-0">
                        <i class="bi bi-emoji-heart-eyes me-1"></i>관심
                    </a>
                    <a class="mt-1 btn btn-outline-danger rounded-0">
                        <i class="bi bi-chat-dots me-1"></i>러브톡
                    </a>
                    <a class="mt-1 btn btn-outline-danger rounded-0">
                        <i class="bi bi-heart me-1"></i>커플신청
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a class="fs-1 active">&raquo;</a>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script>
    $('#loveFindBtn').attr("aria-expanded", "true");
    $('#loveFind').addClass("show");
    $('#loveFind').children("li").eq(0).addClass("active");
</script>
</html>