<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
        <!-- 여기서 부터 내용 넣으세요 -->
        <div class="d-flex justify-content-center">
            <form class="w-75 bg-white mt-2" id="proFileInputForm" enctype="multipart/form-data">
                <h3>사랑글 작성</h3>
                <h6 class="text-muted">여러분의 사랑을 뽐내보세요!</h6>
                <div class="mb-3">
                    <label for="writer" class="form-label">작성자</label>
                    <input th:value="${session.loginId}" type="text" class="form-control" id="writer" disabled>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input type="text" class="form-control" id="title" name="title">
                    <div id="titleNum" class="form-text">0/100</div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea class="form-control" id="contents" rows="10"
                              style="resize: none" name="contents"></textarea>
                    <div id="contentNum" class="form-text">0/2000</div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">이미지 등록</label>
                    <div id="drop" class="border w-100" style="height:250px; padding:3px">
                        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
                            <div class="text-muted" style="cursor: default;">
                                이곳에 이미지를 끌어주세요!
                            </div>
                        </div>
                    </div>
                </div>
                <div id="thumbnails" class="d-flex flex-row my-2"></div>
                <div class="text-center">
                    <a th:href="@{/loveBoard/list/1}" class="btn btn-danger rounded-0">이전으로</a>
                    <button id="boardWriteBtn" type="button" class="btn btn-danger rounded-0">작성</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script>
    let uploadFiles = [];
    $('#loveBoardBtn').attr("aria-expanded", "true");

    // 글자수 체킹 해주는거 및 유효성
    $('#contents').on("change keyup paste input", function () {
        if ($(this).val().trim().length > 0) {
            $(this).attr("class", "form-control is-valid");
        } else {
            $(this).nextAll('.invalid-feedback').text('한글자 이상 작성해주세요');
            $(this).attr("class", "form-control is-invalid");
        }
        if ($(this).val().trim().length >= 2000) {
            $(this).nextAll('.invalid-feedback').text('2000 글자 미만으로 작성해주세요');
            $(this).attr("class", "form-control is-invalid");
        }
        $('#contentNum').text($(this).val().trim().length + "/2000");
    })
    $('#title').on("change keyup paste input", function () {
        if ($(this).val().trim().length > 0) {
            $(this).attr("class", "form-control is-valid");
        } else {
            $(this).nextAll('.invalid-feedback').text('한글자 이상 작성해주세요');
            $(this).attr("class", "form-control is-invalid");
        }
        if ($(this).val().trim().length >= 100) {
            $(this).nextAll('.invalid-feedback').text('100 글자 미만으로 작성해주세요');
            $(this).attr("class", "form-control is-invalid");
        }
        $('#titleNum').text($(this).val().trim().length + "/100");
    })

    // 드래그 이벤트 주기
    $(document).on("dragleave", "#drop", function (e) { //드래그 요소가 나갔을때
        $(this).removeClass('bg-light');
        e.stopPropagation();
        e.preventDefault();
    }).on("dragover", "#drop", function (e) { // 드래그 요소가 들어왔을때
        $(this).addClass('bg-light');
        e.stopPropagation();
        e.preventDefault();
    }).on('drop', "#drop", function (e) { //드래그한 항목을 떨어뜨렸을때
        e.preventDefault();
        $(this).removeClass('bg-light');
        let fileForm = /(.*?)\.(jpg|jpeg|png|gif|bmp)$/;
        let files = e.originalEvent.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
            let file = files[i];
            if (file.name.match(fileForm)) {
                let size = uploadFiles.push(file); //업로드 목록에 추가
                preview(file, size - 1); //미리보기 만들기
            } else {
                alert("이미지 파일만 등록해주세요!")
                return;
            }
        }
    });

    // 이미지 띄우기라는데 이해안됨 걍 복붙 ㅅㄱ
    function preview(file, idx) {
        let reader = new FileReader();
        reader.onload = (function (f, idx) {
            return function (e) {
                let content = "";
                content += '<div class="d-flex flex-column close" data-idx="' + idx + '" style="cursor: pointer">';
                content += '<div class="text-center">';
                content += '<i class="bi bi-x-lg fs-3"></i>';
                content += '</div>';
                content += '<div class="thumb">';
                content += '<img style="width: 200px;height: 200px;" class="img-fluid" src="' + e.target.result + '" title="' + escape(f.name) + '"/>';
                content += '</div>';
                content += '</div>';
                $("#thumbnails").append(content);
            };
        })(file, idx);
        reader.readAsDataURL(file);
    }

    // 이미지 삭제
    $(document).on("click", ".close", function (e) {
        let idx = $(this).attr('data-idx');
        uploadFiles[idx] = 'disable'; //삭제시 자기 배열에 disable 첨가
        $(this).remove(); //이미지 삭제
    });
    // 글쓰기
    $('#boardWriteBtn').on('click', function () {
        let title = $('#title').val().trim();
        let contents = $('#contents').val().trim();
        if ($('#title').hasClass('is-valid') && $('#contents').hasClass('is-valid')) {
            let formData = new FormData();
            // 파일 넣기
            $.each(uploadFiles, function (i, file) {
                if (file.upload != 'disable') {
                    formData.append('files', file, file.name);
                }
            });
            // 파라미터 넣기
            formData.append("title", title);
            formData.append("content", contents);
            $.ajax({
                url: '/loveBoard/boardWrite',
                enctype: 'multipart/form-data',
                data: formData,
                type: 'post',
                contentType: false,
                processData: false,
                success: function (suc) {

                }
            });
        } else {
            if (title == "") {
                $('#title').nextAll('.invalid-feedback').text('한글자 이상 작성해주세요');
                $('#title').attr('class', 'form-control is-invalid');
            }
            if (contents == "") {
                $('#contents').nextAll('.invalid-feedback').text('한글자 이상 작성해주세요');
                $('#contents').attr('class', 'form-control is-invalid');
            }
        }
    })
</script>
</html>