<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<style>
    /* 슬라이드바 크기랑 페이지네이션 색상 */
    .swiper-pagination-bullet-active {
        background-color: #bb2d3b;
    }

    .swiper {
        width: 400px;
        height: 400px;
    }
</style>
<body>
<div class="wrapper">
    <th:block th:include="fix/fixSideBar"></th:block>
    <div id="content">
        <!-- 사이드바 토글 버튼 -->
        <nav class="navbar-light my-2">
            <button type="button" id="sidebarCollapse" class="btn btn-danger">
                <i class="navbar-toggler-icon"></i>
            </button>
        </nav>
        <!-- 여기서 부터 내용 넣으세요 -->
        <div class="d-flex justify-content-center">
            <div class="w-75 mt-2 container px-5">
                <h3 class="px-2" th:text="${map.get('dto').title}"></h3>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="dropdown-toggle-split d-flex align-items-center" data-bs-toggle="dropdown"
                         style="cursor: pointer">
                        <img onerror="src='/img/noImg.png'" class="rounded-circle" th:src="@{${map.get('imgPath')}}"
                             style="width: 40px;height: 40px">
                        <div class="ms-2 align-middle fw-bold" th:text="${map.get('dto').id}"></div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/member/proFileDetail(id=${map.get('dto').id})}">프로필</a>
                        </li>
                        <li><a class="dropdown-item" href="#">러브톡</a></li>
                        <li><a class="dropdown-item" href="#">커플맺기신청</a></li>
                        <li><a class="dropdown-item" href="#">신고하기</a></li>
                    </ul>
                    <div class="mx-1 border-end border-dark px-2"
                         th:text="'조회수 '+${map.get('dto').boardHit}"></div>
                    <div id="goodCount" th:text="'좋아요 '+${map.goodCount}" class="mx-1"></div>
                </div>
                <hr/>
                <th:block th:if="${#lists.size(map.get('photoList')) > 0 }">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <th:block th:each="photo : ${map.get('photoList')}">
                                <div class="swiper-slide">
                                    <!-- 이거 이미지 확대 슬라이드 <a th:href="${photo.path}" data-fancybox="responsive"></a>-->
                                    <img class="img-fluid h-100 w-100" th:src="${photo.path}"/>
                                </div>
                            </th:block>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                    <!-- <div class="d-flex justify-content-center">
                         <div style="width: 800px;padding-left: 80px">
                             <th:block th:each="photo : ${map.get('photoList')}">
                                 <a th:href="${photo.path}" data-fancybox="responsive">
                                     <img class="mx-1 my-1" th:src="${photo.path}"
                                          style="width: 200px;height: 200px"/>
                                 </a>
                             </th:block>
                         </div>
                     </div>-->
                </th:block>
                <div class="mt-1 px-2 text-center" th:text="${map.get('dto').content}"></div>
                <div class="text-center my-3">
                    <div th:attr="goodCheck=${map.goodCheck}" id="good" class="btn btn-outline-danger rounded-0">
                        <i class="bi bi-hand-thumbs-up-fill me-1"></i>좋아요
                    </div>
                    <a th:href="@{/loveBoard/list/{division}/{page}(page=${page},division=${division})}"
                       class="btn btn-danger rounded-0">리스트로</a>
                    <a class="btn btn-danger rounded-0"
                       th:if="${map.get('dto').id eq session.loginId}"
                       th:href="@{/loveBoard/boardUpdateForm/{boardNum}/{page}(boardNum=${map.get('dto').boardNum},page=${page})}">수정</a>
                    <a th:if="${map.get('dto').id eq session.loginId}"
                       class="btn btn-danger rounded-0"
                       id="boardDel" th:attr="boardNum=${map.get('dto').boardNum}">삭제</a>
                </div>
                <h3>댓글</h3>
                <hr/>
                <!-- 댓글 입력 폼 -->
                <div class="d-flex align-items-center mt-3">
                    <div class="form-floating flex-grow-1 px-2">
                    <textarea class="form-control rounded-0" placeholder="Leave a comment here"
                              name="commentContent" id="commentContent"
                              style="height: 100px; resize: none;"></textarea>
                        <div class="invalid-feedback">1자 이상 1000자 미만 입력해주세요</div>
                        <label th:text="${session.loginId + '님 이곳에 댓글을 작성하세요'}" for="commentContent"></label>
                    </div>
                    <a id="cmInsertBtn" class="btn btn-danger rounded-0 btn-sm">등록</a>
                </div>
                <!-- 댓글 리스트 -->
                <div id="commentLists" class="container px-5 my-4">
                    <th:block th:each="dto : ${map.cmList}">
                        <!-- 댓글 내용 -->
                        <div class="listForm">
                            <div class="dropdown-toggle-split d-inline-flex align-items-center"
                                 data-bs-toggle="dropdown"
                                 style="cursor: pointer">
                                <img onerror="src='/img/noImg.png'" class="rounded-circle"
                                     th:src="@{${dto.imgPath}}"
                                     style="width: 40px;height: 40px">
                                <div th:text="${dto.id}" class="fw-bold ms-1"></div>
                            </div>
                            <ul class="dropdown-menu mt-2">
                                <li>
                                    <a class="dropdown-item"
                                       th:href="@{/member/proFileDetail(id=${dto.id})}">프로필</a>
                                </li>
                                <li><a class="dropdown-item" href="#">러브톡</a></li>
                                <li><a class="dropdown-item" href="#">커플맺기신청</a></li>
                                <li><a class="dropdown-item" href="#">신고하기</a></li>
                            </ul>
                            <div th:text="${dto.content}" class="lh-sm mt-1 ms-2"></div>
                            <div class="d-flex justify-content-end">
                                <div>
                                    <a th:if="${session.loginId ne dto.id && session.loginId != null}"
                                       class="btn btn-danger btn-sm rounded-0"
                                       href="${path}/cm/cmReportForm/${dto.cmNum}">신고</a>
                                    <th:block th:if="${session.loginId eq dto.id}">
                                        <a class='cmUpdateBtnForm btn btn-danger btn-sm rounded-0'>수정</a>
                                        <a th:attr="cmNum=${dto.cmNum}"
                                           class='cmDelBtn btn btn-danger btn-sm rounded-0'>삭제</a>
                                    </th:block>
                                </div>
                            </div>
                            <div th:text="'작성일 :' + ${dto.date}"
                                 class="d-flex justify-content-end text-muted mt-2" style="font-size: 13px"></div>
                            <hr/>
                        </div>
                        <!-- 수정하기 폼 -->
                        <div class="updateForm visually-hidden">
                            <div class="form-floating flex-grow-1 px-2">
                            <textarea th:text="${dto.content}" class="cmUpdateContent form-control rounded-0"
                                      style="height: 100px; resize: none;"></textarea>
                                <label>수정할 댓글을 작성하세요</label>
                                <div class="invalid-feedback">1자 이상 1000자 미만 입력해주세요</div>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <a th:attr="cmNum=${dto.cmNum}"
                                   class='cmUpdateBtn btn btn-danger btn-sm rounded-0'>등록</a>
                                <a class='cmUpdateCancel btn btn-danger rounded-0 btn-sm ms-1'>취소</a>
                            </div>
                            <hr/>
                        </div>
                    </th:block>
                </div>
                <div id="paginationBox">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${map.get('startPage') ne 1}">
                            <a aria-label="Previous" class="page-link page-info rounded-0"
                               style="cursor:pointer;"
                               th:attr="page=${map.get('startPage') - 1}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <th:block th:each="num: ${#numbers.sequence(map.get('startPage'),map.get('endPage'))}">
                            <li th:if="${num ne map.get('currPage')}" class="page-item">
                                <a th:text="${num}" class="page-link page-info rounded-0"
                                   style="cursor:pointer;"
                                   th:attr="page=${num}"></a>
                            </li>
                            <li th:if="${num eq map.get('currPage')}" class="page-item active">
                                <a th:text="${num}" class="page-link rounded-0"></a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="${map.get('totalPage') ne map.get('endPage')}">
                            <a class="page-link page-info rounded-0"
                               style="cursor:pointer;"
                               th:attr="page=${map.get('endPage') + 1}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<input th:attr="boardNum=${map.get('dto').boardNum}" type="hidden" id='boardNum'>
<input th:attr="divisionNum=${map.get('dto').boardNum}" type="hidden" id='divisionNum'>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script th:src="@{/js/loading.js}"></script>
<script th:src="@{/js/boardDel.js}"></script>
<script th:src="@{/js/cm.js}"></script>
<script th:src="@{/js/good.js}"></script>
<script>
    $('.swiper-button-next').addClass("text-danger");
    $('.swiper-button-prev').addClass("text-danger");
    let swiper = new Swiper(".swiper", {
        slidesPerView: 1, //640~1024 해상도 외 레이아웃 뷰 개수
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });
</script>
</html>