<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
<img src="/img/love.jpg" id="bg" class="img-fluid">
<div class="d-flex justify-content-center container h-100">
    <div class="w-75 border p-3 bg-white shadow rounded align-self-center">
        <div class="d-inline-flex">
            <img class="img-fluid" src="/img/love-icon.png" style="width: 60px;height: 60px">
            <h1 class="ms-2 fw-bold">Lovegame</h1>
        </div>
        <h3>
            죄송합니다.<br/>
            알 수 없는 문제로 인하여 다시 시도하거나 문의해주시길 바랍니다.<br/>
            관련 문의사항은 러브게임 고객센터에 알려주시면 친절하게 안내해 드리겠습니다.<br/>
            감사합니다.
        </h3>
        <div class="text-center">
            <a class="btn btn-danger rounded-0" th:href="@{/main}">메인으로</a>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
</html>