@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: large;
    /*font-family: 'Gothic A1', sans-serif;*/
    /* font-family: 'Nanum Gothic', sans-serif;*/
    /*font-family: 'Noto Sans KR', sans-serif;*/
    scroll-behavior: smooth;
}

/* 글 길면 줄 자르기 -> ...표시 */
.target {
    /* 한 줄 자르기 */
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 여러 줄 자르기 추가 스타일 */
    /* white-space: normal;
     line-height: 1.4;
     height: 4.2em;
     text-align: left;
     word-wrap: break-word;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;*/
}
/* 이미지 배경으로 */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.3;
}