<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fix/fixHead.html"></th:block>
<body>
	<div class="wrapper">
		<th:block th:include="fix/fixSideBar"></th:block>
		<div id="content">
			<!-- 사이드바 토글 버튼 -->
			<nav class="navbar-light my-2">
				<button type="button" id="sidebarCollapse" class="btn btn-danger">
					<i class="navbar-toggler-icon"></i>
				</button>
			</nav>
			<!-- 여기서 부터 내용 넣으세요 -->
			<div class="d-flex justify-content-center ms-3 my-2">
				<form method="get" class="row w-75" action="/couple/searchF">
					<div class="col-md-8 m-0 p-0">
						<input name="id" id="id" class="form-control rounded-0"
							type="text" placeholder="커플계정을 검색하세요">
							<div id="suggestion_box" class="border-dark"></div>
					</div>
					<div class="col-md m-0 p-0">
						<button class="btn btn-danger rounded-0" type="submit">검색</button>
					</div>
				</form>
			</div>
			<div class="d-flex justify-content-center">
			<th:block th:if="${dto ne null}">
			<div class="card mb-3 mt-3" style="max-width: 650px;">
  <div class="row g-0 ms-2">
    <div class="col-md-4 my-2">
     <th:block th:if="${dto ne null}">
                        <img th:src="${dto.imgPath}"
                             onerror="src='/img/noImg.png'"
                             class="rounded-circle border img-fluid proFileImg"
                             style="cursor: pointer;width: 200px;height: 200px">
                    </th:block>
                    <th:block th:if="${dto eq null}">
                        <img th:src="@{/img/noImg.png}"
                             onerror="src='/img/noImg.png'"
                             class="rounded-circle border img-fluid proFileImg"
                             style="cursor: pointer;width: 200px;height: 200px">
                    </th:block>
    </div>
    <div class="col-md-8">
      <div class="card-body ms-2">
  <h5 class="card-title" th:text="'이름 : '+${dto.name}"></h5>
        <p class="card-text" th:text="'나이 : '+${dto.age}"></p>
        <p class="card-text"><small  th:text='${dto.intro}' style="display: -webkit-box; -webkit-box-orient: vertical; word-wrap: break-word; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 3;"></small></p>
        <form action="/couple/applyCouple" method="get">
        <input type="hidden" th:value="${dto.id}"/><button type="submit" class="btn-danger rounded-0 mt-1">커플신청</button>
        </form>
      </div>
    </div>
  </div>
</div>
 </th:block>
</div>
	</div>

</body>
<th:block th:replace="fix/fixFooter.html"></th:block>
<script>
	$('#coupleMenuBtn').attr("aria-expanded", "true");
	$('#coupleMenu').addClass("show");
	$('#coupleMenu').children("li").eq(1).addClass("active");
	
	
	
		$(function() {
			// <input>요소에 문자가 입력될 때마다 호출됨.
			$("#id").keyup(function() {
				console.log($(this).val());
				$.ajax({	// Ajax 요청을 작성하고 GET 방식으로 전송함.
					url: "/couple/search",
					data: { "id": $(this).val() },
					method: "GET",
					success: function(map){
						$("#suggestion_box").empty();
						console.log(map.id);
						for (var i = 0; i < map.id.length; i++) {
							console.log(map.id[i]);
							$("#suggestion_box").append('<div class="mt-1 ms-2"><a href="/couple/display/'+map.id[i]+'">'+map.id[i]+'</a></div>');
						}
					}
				})	
			})
		});
	</script>
</html>